body {
  background-size: auto;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #E8F0F2;
}

h1 {
  font-size: 90px;
  color: #39A2DB;
  line-height: 1;
  margin: 50px auto 10px auto;
  font-family: 'Sacramento', cursive;
}

.webdev {
  font-size: 30px;
}

h2 {
  color: #39A2DB;
  font-weight: lighter;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

h3 {
  color: #39A2DB;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #A2DBFA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
}

.bottom-container {
  position: relative;
  background-color: #39A2DB;
  padding-top: 50px;
  padding-bottom: 50px;

}
.footer-link {
  margin-top: 50px;
  padding: 30px;
  color: #053742;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.footer-link:hover {
  color: #A2DBFA;
}

.copy-right {
  margin-top: 50px;
  color: #EAF6F6;

}
.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 50%;
}

.top-cloud {
  position: absolute;
  right: 15%;
  top: 10%;
}

.mountain-img{
  width: 50%;
}


.profile-img {
  width: 10%;
  margin-bottom: 30px;
}

.about-me {
  font-weight: bold;
  width: 50%;
  margin: 0 auto 0 auto;
  font-size: 150%;
  line-height: 2;
}

.profile {
  margin-bottom: 100px;
  margin-top: 100px;
}

hr {
  margin: 0 auto 0 auto;
  color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
  display: inline-block;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 650px;
  line-height: 2;
}

.ui-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.webd-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}

p {
  font-size: 1rem;
  font-weight: bold;
}

.contact-me {
  margin: 100px auto 100px auto;
  line-height: 2;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #053742;
  font-size: 20px;
  background: #39A2DB;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.btn:hover {
  background: #0083c4;
  background-image: -webkit-linear-gradient(top, #0083c4, #259bdb);
  background-image: -moz-linear-gradient(top, #0083c4, #259bdb);
  background-image: -ms-linear-gradient(top, #0083c4, #259bdb);
  background-image: -o-linear-gradient(top, #0083c4, #259bdb);
  background-image: linear-gradient(to bottom, #0083c4, #259bdb);
  text-decoration: none;
}
